@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #edf0f3;
}

body {
    min-height: 100%;
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Josefin Slab', serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Cookie', cursive;
    font-family: 'Libre Baskerville', serif;*/
    overflow-x: hidden;
}


/*header*/

.middleware-nav {
    height: 65px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0275d8;
    color: #fff;
    padding: 0 30px;
    z-index: 99999;
}

.middleware-logo {
    height: 100%;
    padding: 15px;
    font-weight: bolder;
    float: left;
}

.middleware-logo span.logo {
    height: 35px;
    width: 35px;
    line-height: 35px;
    border: 1px solid #fff;
    display: inline-block;
    text-align: center;
    font-weight: bolder;
}

.middleware-menus-container {
    height: 100%;
    float: right;
    padding: 15px 0;
}

.middleware-menus-container ul {
    height: 35px;
    padding: 0;
    margin: 0;
}

.middleware-menus-container ul li {
    list-style: none;
    display: inline-block;
    height: 35px;
    width: 35px;
    line-height: 35px;
    cursor: pointer;
    position: relative;
}

.middleware-menus-container ul li>a {
    width: 100%;
    height: 100%;
    display: block;
    color: #ddd;
    line-height: 35px;
    text-align: center;
}

.middleware-menus-container ul li:hover>a {
    color: #fff;
}

.middleware-menus-container ul li a i {
    font-weight: bolder;
    font-size: 130%;
}

.middleware-menus-container ul li .popover-menu {
    display: block;
    position: absolute;
    top: 50px;
    right: 0;
    min-height: 150px;
    min-width: 300px;
    background: #fff;
    z-index: -111;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #9099a9;
}

.popover-menu>div {
    display: block;
    position: relative;
}

.btn-container {
    display: block;
}

.clearfix {
    clear: both;
}

.inner-popover:after {
    content: "";
    display: table;
    clear: both;
}

.user-popover>div {
    display: block;
    position: relative;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.user-popover {
    width: 420px;
    height: auto;
}

.user-popover>div {
    margin-bottom: 10px;
}

.inner-popover>div {
    width: 49%;
    text-align: left;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.inner-popover>div span {
    height: 20px;
    line-height: 20px;
    display: block;
}

span.p-title {
    display: block;
    text-transform: uppercase;
    margin-bottom: 5px;
}

span.p-subtitle {
    display: block;
    text-transform: capitalize;
    margin-bottom: 5px;
}

a.btn-logout {
    box-sizing: border-box;
    text-transform: capitalize;
    width: auto;
    border: 1px solid gray;
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
    text-decoration: none;
    color: #9099a9;
    float: right;
    cursor: pointer;
}

a.btn-logout:hover {
    background: gray;
    color: white;
}

.side-navigation {
    width: 270px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 70px 0 0 0;
    z-index: 9999;
    transition: all .5s linear;
}

.side-menu {
    width: 100%;
    display: block;
}

.side-menu-title {
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    display: block;
    width: calc(100% - 20px);
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.side-menu-item {
    display: block;
    width: 100%;
    text-transform: capitalize;
    font-size: 90%;
    border-left: 5px solid transparent;
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    margin-bottom: 20px;
}

.side-menu-item.current,
.side-menu-item:hover {
    color: #0f95fc;
    border-left-color: #0f95fc;
    text-decoration: none;
}

.page-content {
    width: 100%;
    padding: 70px 20px 20px 300px;
    transition: padding-left .5s linear;
}

.page-title-header {
    height: 150px;
    width: 100%;
    background: #0f95fc;
    position: absolute;
    top: 65px;
    left: 0;
    z-index: 10;
    padding-left: 280px;
    color: #fff;
    transition: padding-left .5s linear;
}

.btn-add-directive {
    position: absolute;
    top: 65px;
    right: 50px;
    color: #003d8f;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #f3e11e;
    /*background-image: -webkit-gradient(linear,left top,left bottom,from(#f3e11e),to(#f0b602));*/
    /*opacity: .9;*/
}

.top-margin {
    margin-top: 20px;
    text-align: right;
}

.btn-submit {
    color: #0275d8;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #f3e11e;
    border: none;
}

.btn-add-directive:hover,
.btn-submit:hover {
    background: #f2cc11;
}

.ligther {
    font-weight: lighter;
}

.content {
    padding-top: 160px;
}

table {
    background: #fff;
}

table.row-selectable tbody tr {
    cursor: pointer;
}

table tr {
    outline: none;
}

md-input-container {
    margin-bottom: 0;
}

.table-header {
    font-weight: bolder;
    border-bottom: 2px solid #ddd;
}

.table-row {
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    outline: 0;
}

.table-row:hover {
    background-color: #419ce2;
}

md-content.margin-bottom {
    margin-bottom: 20px;
}

.page-ctrl {
    display: block;
    width: 100%;
    text-align: center;
}

a {
    outline: 0;
}

ul.pagination li a,
ul.pagination li a:focus {
    outline: 0;
}

ul.pagination li.active a,
ul.pagination li:hover a {
    background-color: #0f95fc;
}


/*login form*/

form[name="loginForm"] {
    position: absolute;
    max-width: 500px;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
}

form[name="loginForm"] p.error {
    color: red;
    font-size: 90%;
    font-style: italic;
}

.panel-header {
    height: 40px;
    width: 100%;
    display: block;
    line-height: 40px;
    margin: 10px 0 0;
    font-weight: bolder;
    color: #fff;
    padding: 0 20px;
    background-color: #0f95fc;
}

@-webkit-frames top-to-bottom {
    0% {
        position: absolute;
        top: -300px;
        left: 0;
    }
    100% {
        position: relative;
    }
}

.notification-container {
    width: 100%;
}

.notification-container>span {
    height: 40px;
    width: 100%;
    display: block;
    background: #f44336;
    color: white;
    -webkit-animation: top-to-bottom 4s;
}

.notification-container>span.message {
    background: #27a227;
}

.notification-container>span p,
.notification-container>span md-button {
    display: inline-flex;
    vertical-align: top;
    height: 100%;
    line-height: 40px;
}

.notification-container p {
    margin-bottom: 0;
    padding: 0 0 0 20px;
}

.notification-container button {
    height: 40px;
    margin: 0;
    line-height: 40px;
    color: white;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave {
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
    opacity: 0;
}

.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
    opacity: 1;
}

.small-add {
    margin: 0 !important;
    background: red;
}

.sidebar-toggler {
    display: none;
    height: 35px;
    width: 35px;
    vertical-align: top;
}

.sidebar-toggler button {
    width: 35px !important;
    height: 35px !important;
    margin: 0 !important;
    color: white;
    padding: 0 !important;
}

.sidebar-toggler md-button.md-fab {
    background-color: none !important;
}

.sidebar-toggler button md-icon {
    color: white;
}

@media screen and (max-width: 970px) {
    .side-navigation {
        margin-left: -100%;
    }
    .side-navigation.active {
        margin-left: 0;
    }
    .sidebar-toggler {
        display: inline-block;
    }
    .page-title-header {
        padding-left: 0;
    }
    .page-content {
        padding-left: 20px;
    }
}