<ul class="pagination" ng-if="1 < pages.length || !autoHide">
    <li ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == 1 }">
        <a href="" ng-click="setCurrent(1)">&laquo;</a>
    </li>

    <li ng-if="directionLinks"
        ng-click="setCurrent(pagination.current - 1)">
        <a>&laquo; Prev</a>
    </li>

    <li ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)"
        ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }"
        ng-click="setCurrent(pageNumber)">
        <a>{{pageNumber}}</a>
    </li>

    <li ng-if="directionLinks"
        ng-class="{ disabled : pagination.current == pagination.last }"
        ng-click="setCurrent(pagination.current + 1)">
        <a>Next &raquo;</a>
    </li>

    <li ng-if="boundaryLinks"  ng-class="{ disabled : pagination.current == pagination.last }">
        <a href="" ng-click="setCurrent(pagination.last)">&raquo;</a>
    </li>
</ul>