<div class='page-title-header clearfix' ng-init='init()'>
    <div class='container-fluid'>
        <h2 class='ligther'>Welcome {{ user.fullname }}</h2>
        <p>{{ msg || 'Please select the contract you want to review' }}</p>
    </div>
    <a class='btn btn-add-directive' href="{{ url }}">{{ addlabel || "Add" }}</a>
</div>