<div ng-init='init()'>
    <form name='loginForm' ng-submit='login()'>
        <div layout='column'>
            <md-input-container flex='100'>
                <label>Email</label>
                <input type='email' ng-model='creds.email' name='email' required>
                <div ng-messages='loginForm.email.$error' role="alert" multiple>
                    <div ng-message='required' class='my-message'>You must supply an email.</div>
                    <div ng-message='email' class='my-message'>Invalid email.</div>
                </div>
            </md-input-container>
            <md-input-container flex='100'>
                <label>Password</label>
                <input type='password' ng-model='creds.password' required>
            </md-input-container>
            <p class='error' ng-repeat='error in errors'><small>{{error}}</small></p>
            <md-button class='md-raised md-primary' ng-disabled='loginForm.$invalid' ng-click='login()'>login</md-button>
        </div>
    </form>
</div>