<div class="middleware-nav" role="navigation" ng-init="init()">

    <div class='middleware-logo'>
        <span class='sidebar-toggler' ng-if='showMenu()'>
            <md-button class="md-fab md-mini md-icon-button md-primary" aria-label="Settings" ng-click="toggleSideNavigation()">
                <md-icon md-font-library="material-icons">menu</md-icon>
            </md-button>
        </span>
        <span class='logo'>MW</span> Middleware
    </div>
    <div class='middleware-menus-container' ng-if='showMenu()'>
        <ul class='nav-ul'>
            <li class='nav-li'>
                <a ng-click='showPopover("app")'><i class='fa fa-th'></i></a>
                <div class='popover-menu' ng-if='showAppPopover'>

                </div>
            </li>
            <li class='nav-li'>
                <a ng-click='showPopover("notification")'><i class='fa fa-bell-o'></i></a>
                <div class='popover-menu' ng-if='showNotificationPopover'>

                </div>
            </li>
            <li class='nav-li'>
                <a ng-click='showPopover("user")'><i class='fa fa-user'></i></a>
                <div class='popover-menu user-popover' ng-if='showUserPopover'>
                    <div class='inner-popover' ng-if='!waitingForUserInfo'>
                        <span class='p-title'>user settings</span>
                        <div class='float-left inner-popover'>
                            <span class='p-subtitle'>User infos</span>
                            <span>{{ user.email }}</span>
                            <div class='clearfix'></div>
                        </div>
                        <div class='float-right inner-popover'>
                            <span class='p-subtitle'>address</span>
                            <span>{{ user.fullname }}</span>
                            <span>{{ user.streetname }}</span>
                            <span>{{ user.city }} {{ user.state }}, {{ user.zipcode }}</span>
                            <div class='clearfix'></div>
                        </div>
                        <div class='clearfix'></div>
                    </div>
                    <div class='inner-popover' ng-if='waitingForUserInfo'>
                        <i class='fa fa fa-spinner'></i>
                    </div>

                    <div class='btn-container'>
                        <a class='btn-logout' ng-click='logout()'>logout</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>