<div ng-init="init()" id='sideNav'>
    <div class=' side-navigation ' ng-class='{ "active": displaySideNav} ' ng-if='!showSideNav() '>
        <div class='side-menu '>
            <span class='side-menu-title '>my contract</span>
            <a class='side-menu-item ' ng-class='{ "current": currentBasePage==="contract" } ' href='/contract '>contract overview</a>
        </div>

        <div class='side-menu '>
            <span class='side-menu-title '>my products</span>
            <a class='side-menu-item ' ng-class='{ "current": currentBasePage==="vendors" } ' href='/vendors '>vendors</a>
        </div>
    </div>
</div>